{% extends "base.html" %}
{% block page_content %}
<h3>About Us</h3>
<p>We are a small group who meet to discuss philosophical ideas. Members take turns to introduce topics, often by presenting a prepared talk.</p>
<p>We meet at Leominster Community Centre in Leominster (about 50m west of the west door of Leominster Priory). Our meetings run from 11.00am to 1.00pm on the second and fourth Monday of the month.</p>
<p>Our meetings are also accessible on zoom. For information on zoom attendance please contact ???????? </p>
<p>This website is an experimental tool aimed at helping prepare topics for discussion, and perhaps more importantly, to express later thoughts and comments on discussions or proposals for discussion.</p>
<p>Signed on users can also suggest topics for future discussion, or even start an online discussion on a topic which interests them.</p>
<h5>Moderation Policy on This Website</h5>
<ul>
<li>We encourage reasoned, argued and fully explained discussion. There is no maximum length</li>
<li>We will not accept brief unreasoned expression of opinion. The reason is required!</li>
<li>If you are quoting a philosopher or author try to give accurate references. Be as specific as you can.</li>
<li>We will not accept abuse in any form.</li>
<li>In general one line comments will be deleted by the moderators.</li>
</ul>
{% endblock %}
