{% extends "base.html" %}

{% block page_content %}
<main class="container>">
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th scope="col">full name</th>
        <th scope="col">moderator</th>
        <th scope="col">confirmed</th>
        <th scope="col">last_seen</th>
        <th scope="col"></th>
      </tr>
    </thead>
        
    {% for user in users: %}
    <tbody>
      <td>{{ user.id }}</td>
      <td>{{ "{} {}".format(user.first_name, user.last_name) }}</td>
      <td>{{ user.moderator }}</td>
      <td>{{ user.confirmed }}</td>
      <td>{{ user.last_seen }}</td>
      <td>
        <a class="btn btn-warning" href="{{ url_for('main.edit_user', id=user.id ) }}" role="button">Edit</a>
        <a class="btn btn-danger" href="{{ url_for('main.delete_user', id=user.id ) }}" role="button">Delete</a>
      </td>
    </tbody>
    {% endfor %}

  </table>

</main>
{% endblock %}
